@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item {
  margin-bottom: 20px;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  border: 2px solid salmon;
}
.swiper {
  width: 600px;
  height: 300px;
}
.swiper-slide {
  background-color: aqua;
}
.form {
  border: 2px salmon solid;
}
.inp {
  display: flex;
  border: 2px seagreen solid;
}
.btn {
  cursor: pointer;
  color: azure;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 16px;
  background-color: blueviolet;
}
.msg {
  color: salmon;
}
